<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {% include 'matias_aplicacion/navbar.html' %}

  <h1>Listado de Cursos</h1>
  <ul>
    {% for curso in cursos %}
    <li>
      {{ curso.nombre }}
      <a href="{% url 'editar_curso' curso.id %}" class="btn-editar">Editar</a>
      <a href="{% url 'eliminar_curso' curso.id %}" class="btn-eliminar">Eliminar</a>

    </li>
    {% endfor %}
  </ul>
</body>

</html>